@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la página de inicio de ASP.NET Core MVC</h1>
    <p>Esta es una aplicación de ejemplo de ASP.NET Core MVC</p>
</div>
